
@model VoxConnex.Models.QuoteQuestionnaire
@{
    ViewBag.Title = "Home Page";
}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class=" js-scroll-trigger" href="#page-top"></a>
        <img class="navbar-brand" src="~/img/VoxConnex Logo Green_White.png" />
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#quote">Quote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead text-center text-light d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="typewriter">
                    <h2 class="typed">Solutions For Todays Small Business.</h2>
                </div>
                <p class="text-light mb-5">Offering taylored voice solutions to me the needs and budget of your business.</p>
                <a class="btn btn-outline-success btn-xl js-scroll-trigger" href="#about">Learn More</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-vox" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">About VoxConnex</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">The VoxConnex product is our revolutionary voice paltform. With the advancments in interect connectivity we can leverage your internet connection to save you money and give you more features and functionality for your business. VoxConnex can be configured as a Hosted PBX, SIP trunks and a Virtual Phone System for the one man business. </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Service Plans</h2>
                <hr class=" bg-vox my-4">
                <p>The VoxConnex product is our revolutionary voice paltform. With the advancments in interect connectivity we leverage your connection to save you time.</p>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center col d-flex justify-content-center">
        <div class="card mb-4 box-shadow   card-fixed-width">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">SIP Trunk</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$16.95 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>1 DID Included</li>
                    <li>500 minutes</li>
                    <li>Disaster recoverey failover</li>
                    <li>Burst to more call paths ondemand <i class="fa fa-info-circle" title="*Minute overages billed at 3.9¢ per minute. Burstable SIP trunk billed at $4 surcharge plus cost of SIP trunk for that month."></i></li>
                   
                </ul>
                <button type="button" class="btn btn-success btn-block ">Contact us</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow   card-fixed-width">

            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Std. PBX</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$19 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-success btn-block">Contact us</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow box card-fixed-width">
            <div class="ribbon ribbon-top-right"><span>Most Popular</span></div>
            <div class="card-header bg-vox">
                <h4 class="my-0 font-weight-normal">Pro PBX</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-success btn-block">Contact us</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow   card-fixed-width">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Virtual PBX</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$31 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-success btn-block">Contact us</button>
            </div>
        </div>
    </div>
</section>

<section id="quote" class="bg-dark text-white">
    <div class="container text-center ">
        <h2 class="typed mb-4">Get your custom voice quote today!</h2>
        <a class="btn btn-light btn-xl js-scroll-trigger" data-toggle="modal" data-target=".bd-example-modal-lg" href="" data-whatever="">Get Started!</a>
    </div>



    @*Start Modal*@
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-xl-12 form-box">
                            <form role="form" action="" method="post" class="f1">
                                @*TITLE OF F1 FORM*@
                                <h3>NEW QUOTE REQUEST</h3>
                                <p class="text-green">Fill in the form to build your quote</p>
                                <div class="f1-steps">
                                    <div class="f1-progress">
                                        <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
                                    </div>
                                    <div class="f1-step active">
                                        <div class="f1-step-icon"><i class="fas fa-phone"></i></div>
                                        <p>New Number</p>
                                    </div>
                                    <div class="f1-step">
                                        <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                        <p>Users</p>
                                    </div>
                                    <div class="f1-step">
                                        <div class="f1-step-icon"><i class="fas fa-address-card"></i></div>
                                        <p>Contact</p>
                                    </div>
                                </div>
                                <fieldset>
                                    <p class="text-green">@Html.LabelFor(model => model.NeedNumber, htmlAttributes: new { @class = "col d-flex justify-content-center" })</p>
                                    <div class="col d-flex justify-content-center">
                                        <div class="slider-frame btn-group-toggle">
                                            <label class="switch">
                                                @Html.EditorFor(model => model.NeedNumber)
                                                @*Don't worry about this warning. We're using the div here to call the slider function*@
                                                <div class="slider round" id="portnumber-toggle">
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="portnumber">
                                        @Html.LabelFor(model => model.HowManyNumbersPorting, htmlAttributes: new { @class = "text-green col d-flex justify-content-center" })

                                        <div class="col d-flex justify-content-center padding-top-bottom">
                                            @Html.EditorFor(model => model.HowManyNumbersPorting, "Text", new {htmlAttributes = new { @class = "col text-center optional", @style = "max-width: 3rem; padding: 0;"} })
                                        </div>
                                    </div>
                                    <div class="f1-buttons modal-footer">
                                        <button type="button" class="btn f1-btn btn-next">Next</button>
                                    </div>



                                </fieldset>
                                <fieldset>
                                    <p class="text-green">@Html.LabelFor(model => model.NeedPhones, htmlAttributes: new { @class = "col d-flex justify-content-center" })</p>
                                    <div class="col d-flex justify-content-center">
                                        <div class="slider-frame btn-group-toggle">
                                            <label class="switch">
                                                @Html.EditorFor(model => model.NeedPhones)
                                                @*Don't worry about this warning. We're using the div here to call the slider function*@
                                                <div class="slider round">
                                                </div>
                                            </label>
                                        </div>
                                    </div>

                                    @Html.LabelFor(model => model.HowManyUsers, htmlAttributes: new { @class = "text-green col d-flex justify-content-center" })

                                    <div class="col d-flex justify-content-center padding-top-bottom">
                                        @Html.TextBoxFor(model => model.HowManyUsers, "Text", new { htmlAttributes = new { @class = "col text-center", @style = "max-width: 3rem; padding: 0;", @Value = "0" } })
                                    </div>
                                    <div class="f1-buttons modal-footer">
                                        <button type="button" class="btn btn-previous">Previous</button>
                                        <button type="button" class="btn f1-btn btn-next">Next</button>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <h4>Social media profiles:</h4>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-facebook">Facebook</label>
                                        <input type="text" name="f1-facebook" placeholder="Facebook..." class="f1-facebook form-control" id="f1-facebook">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-twitter">Twitter</label>
                                        <input type="text" name="f1-twitter" placeholder="Twitter..." class="f1-twitter form-control" id="f1-twitter">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="f1-google-plus">Google plus</label>
                                        <input type="text" name="f1-google-plus" placeholder="Google plus..." class="f1-google-plus form-control" id="f1-google-plus">
                                    </div>
                                    <div class="f1-buttons modal-footer">
                                        <button type="button" class="btn btn-previous">Previous</button>
                                        <button type="submit" class="btn f1-btn btn-submit">Submit</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer f1-buttons">

                    </div>*@
            </div>
        </div>
    </div>

    @*End Modal*@
</section>

<section class="get-quote" id="quote-creator" style="display:none">
    <iframe src="http://localhost:50375/QuoteQuestionnaires/Create" style="width:100%; height: 25rem;"></iframe>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr>
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
                <p>210-233-9880</p>
            </div>
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-compass fa-3x mb-3 sr-contact"></i>
                <p>4115 Medical Dr <br />San Antonio,Texas 78229</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:your-office@visolutions.net">info@visolutions.net</a>
                </p>
            </div>
        </div>
    </div>
</section>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script>

    $(document).ready(function () {
     

        $('#portnumber-toggle').click(function () {
            if ($('.portnumber').css('visibility') == 'hidden') {
                $('.portnumber').css('visibility', 'visible');
            }
            else {
                $('.portnumber').css('visibility', 'hidden');
            }
        });


        function myFunction() {
            var x = document.getElementById("quote-creator");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    });
</script>

<script>
    $(function () {
        $(document).tooltip();
    });
</script>